<h3>Reservation Details</h3>
	
	Reservation date: <%= @reservations.start_date %> - <%= @reservations.end_date %> <br/>
	Title: <%= @listing.title %> <br/>
	Description: <%= @listing.title %> <br/>
	Country: <%= @listing.country %> <br/>
	Amenities: <% @listing.amenities.each do |x| %>
	<li>
		<%= x %>
	</li>

	<% end %>

	Number of guest: <%= @listing.num_of_guest %> <br/>
	Number of bedroom: <%= @listing.num_of_bedroom %> <br/>
	Number of bath: <%= @listing.num_of_bath %> <br/>
	<br> <%= "Total Price: #{@total_price}" %> <br/>

	<% if current_user.customer? %>
		<% if !@reservations.payment %>
			<%= button_to "Make Payment", new_payment_path(@reservations), method: :get %>
		<% end %>
	<% end %>